/** @format */
:root {
  --color-dark: black;
  --color-light: white;
  --color-neutral: #919496;
  --color-primary: #1ed760;
  --color-secondary: #2940a8;
  --font-primary: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
}

main {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  position: absolute;
  font-family: var(--font-primary);
}

footer {
  position: absolute;
  top: 100vh;
  width: 100%;
  background-color: var(--color-dark);
  font-family: var(--font-primary);
  display: flex;
}

.nav-img {
  background-color: var(--color-light);
  border-radius: 50%;
  margin: 5px;
}

.hamburger {
  width: 2em;
  height: 2em;
  margin: 8px;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.isactive .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.line {
  z-index: 1;
  width: 1.5em;
  height: 0.2em;
  margin: 2px;
  display: block;
  background-color: var(--color-light);
  transition: all 0.3s ease-in-out;
}

.main-background--container {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.main-header--container {
  position: absolute;
  top: 25%;
  padding: 24px;
  text-align: center;
}
.main-header {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 3em;
  letter-spacing: -0.04em;
  line-height: 1.1em;
  margin: 0.2em;
}

.main-sub-header {
  color: var(--color-primary);
  font-weight: 400;
}

.main-header-btn {
  width: 18em;
  padding: 1em;
  border-radius: 20px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5em;
}

.main-header-btn:hover {
  background-color: var(--color-light);
}

.circle {
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
}

.lg-circle {
  height: 10em;
  width: 10em;
  top: 78%;
  left: -18%;
}

.lg-circle-2 {
  height: 15em;
  width: 15em;
  top: -20%;
  left: 70%;
}

.md-circle {
  height: 6.5em;
  width: 6.5em;
  border-radius: 0%;
  clip-path: circle(50% at center right);
  left: 71%;
  bottom: 10%;
}

.sm-circle {
  height: 4em;
  width: 4em;
  top: 86.9%;
  left: 16%;
  border-radius: 0%;
  clip-path: circle(50% at center bottom);
  z-index: 1;
  mix-blend-mode: exclusion;
}

.footer--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-header {
  color: var(--color-light);
  margin: 0.75em;
  font-size: 0.75em;
  text-transform: uppercase;
  color: var(--color-neutral);
}

.company--container,
.communities--container,
.useful-links--container,
.social-media-container {
  margin: 20px 0;
}

.social-media-list {
  display: flex;
}

.list--container > li {
  margin: 1em;
  font-size: 0.8em;
  list-style: none;
}

.list--container-link {
  text-decoration: none;
  color: var(--color-light);
}

a img {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.disclosure--container {
  display: flex;
  flex-direction: column;
}

.disclosure--container a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}
